doctype html
html(lang="pt-BR")
  head 
    title Página de exemplo: #{app_name}
    style(type="text/css").
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
  body
    h1 Olá, #{message}
    br
    ul(id="messages")
    form(id="form", action="")
      input(id="input", autocomplete="off")
      button Send
    //- script(src="./node_modules/socket.io/client-dist/socket.io.js")
    script(src="https://cdn.socket.io/4.1.2/socket.io.min.js")
    script(type="application/javascript").
      var socket = io("ws://localhost:8084", { transports: ['websocket'] });

      socket.on('retorno', function(dados) {
        console.log("Sua mensagem retornou com sucesso: " + dados.message);
      });

      var form = document.getElementById('form');
      var input = document.getElementById('input');

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        console.log("Enviando formulário...");
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });